.links {
  height: 340px;
  width: 100%;
  color: #3e4852;
  font-size: 0.7em;
  padding: 80px 10px;
}

.copyright {
  font-size: 0.25em;
  text-align: center;
  margin: 10px auto 10px;
}

.columnStylesMobile {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.columnStyles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.footer-banner {
  background-color: #8d0101;
  padding: 20px 0;
}
