.banner {
  background-color: #8d0101;
  color: white;
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 200;
}
